{% load static %}
<html>
<head>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GharBazaar</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/vars.css'%}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
    <title>Ghar Agan</title>
	<link rel="stylesheet" type="text/css"
	href="{% static 'css/style.css' %}">
</head>
<body>
<!-- <h1>this is a base file</h1> -->
{% include 'partials/nav.html' %}

{% block content %}<!-- yo vanda mathi block ko sabai-->
{% endblock %}<!-- yo vanda tala ko  block ko sabai-->
{% include 'partials/footer.html' %}

</body>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</html>