{%extend 'base.html'%}
{% block content%}
	<h1> List of realtors</h1>
	{%for realtor in realtors%}
		<a href="{%url
		'viewRealtor' realtor.id%}
		">
			<h2>{{realtor}}
			{{realtor.id}}</h2>
		</a>
	{%endfor%}
{%endblock%}